# Protection de l'espace administrateur (serveurs Apache)
Options -Indexes
DirectoryIndex index.php

# Fichiers privés : accès, protection, code d'installation, fichiers temporaires
<FilesMatch "^(acces|securite|code-installation)\.php$|\.tmp-">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
  </IfModule>
</FilesMatch>
